@import '../abstract/variaveis';

#sobre{
    text-align: center;
    margin: 2rem;
    .txt-sobre{
        h3{
            font-size: $tamanho-do-texto/1.5;
            font-weight: bolder;
        }
        h4{
            font-size: $tamanho-do-texto/2.0;
            margin: 1rem;
        }
        p{
            font-size: $tamanho-do-texto/2.5;
            font-size: 300;
        }
    }
}