//----------------FONTES----------------
$fonte: 'Roboto', sans-serif;
$tamanho-do-texto: 3rem;



//----------------CORES----------------
$cor-primaria: #acb188;
$cor-secundaria: #e7d9b5;
$cor-terciaria: #98a17a;
$cor-destaque: #8968A1;
